
    body{
        font-family: 'Bai Jamjuree', sans-serif;

    }
    .headercs{
        font-family: 'Playfair Display', serif;;
        font-size: 50px;
        background-color: rgb(241, 202, 149);
        color: rgb(243, 30, 73);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fon1{
        font-family: 'Bai Jamjuree', sans-serif;
        color: rgb(100, 64, 48);
        font-size: 30px;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center ;
    }
    .content{
        color: brown;
    }
    .bg-yellow{
        color: rgb(226, 195, 19);
        background-color: rgb(17, 0, 255);
    }


